<h1>Estudiantes</h1>

<form class="w-6">
    <div class="grid">
        <div class="col-6">
            <mat-form-field class="w-full" appearance="fill">
                <mat-label>Nombre</mat-label>
                <input matInput />
            </mat-form-field>
        </div>
        <div class="col-6"> <mat-form-field class="w-full" appearance="fill">
                <mat-label>Apellido</mat-label>
                <input matInput />
            </mat-form-field> </div>
    </div>




    <button type="submit" mat-stroked-button>Guardar</button>
</form>

<button mat-icon-button>
    <mat-icon>delete</mat-icon>
</button>